<p>Your order no. <%= @order.id %> has been placed.</p>
<p>Your order status. <%= @order.status %> </p>
    <% @order.lineitems.each do |item| %>
    <li><%= item.quantity %> x <%= item.product.title %></li>
    <% end %>

Total Price = <%= @order.subtotal %>
<br>
<strong>Cancel your order</strong>

<%= link_to 'Cancel order', cancel_order_path(@order) %>
