<%= form_with model: [@product, @review] do |form| %>
  <p>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </p>

  <p>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
