<% if current_user %>
<%= form_with model: [@product, @review] do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <p>
    <%= form.label :rating %>
    <%= form.number_field :rating , style: "display: block"%>
  </p>
  <p>
    <%= form.label :comment %>
    <%= form.text_area :comment, style: "display: block" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<%else%>
<strong>you need to signed in to review the product</strong>
<%end%>