<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Ecommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
      </ul>
      <div class="d-flex"> 
        <a class="nav-item" href="<%= carts_path %>"  aria-expanded="false">
          <span class="badge rounded-pill bg-danger">         
            <%="#{current_order.lineitems.size}"%><i class="bi bi-suit-heart-fill"></i>
          </span>  
        </a>
      </div>   
      <ul class="navbar-nav">
        <%= render 'layouts/session_manger' %>
      </ul>
    </div>
  </div>
</nav>