<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
              <h2>Sign up</h2>

              <%= nested_form_for([resource_name, resource.with_address], url: registration_path(resource_name)) do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :name %><br />
                  <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
                </div>
                
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>

                <div class="field">
                  <%= f.label :phone %><br />
                  <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
                </div>

                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "new-password" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>
    
                <div class="field">
                  <%= f.collection_radio_buttons :role_ids, Role.all, :id, :name %>
                </div>

                <%= f.fields_for :address do |builder| %>
                    <h2>Address Details</h2>

                    <div class="field">
                      <%= builder.label :address_1 %><br />
                      <%= builder.text_field :address_1 %>
                    </div>

                    <div class="field">
                      <%= builder.label :address_2 %><br />
                      <%= builder.text_field :address_2 %>
                    </div>

                    <div class="field">
                      <%= builder.label :city %><br />
                      <%= builder.text_field :city %>
                    </div>

                    <div class="field">
                      <%= builder.label :state %><br />
                      <%= builder.text_area :state %><br />
                    </div>

                    <div class="field">
                      <%= builder.label :country %><br />
                      <%= builder.text_area :country %><br />
                    </div>

                    <div class="field">
                      <%= builder.label :postal_code %><br />
                      <%= builder.text_area :postal_code %><br />
                    </div>

                  <% end %>

                <div class="actions">
                  <%= f.submit "Sign up" %>
                </div>
              <% end %>

              <%= render "users/shared/links" %>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


